<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/erjan/IdeaProjects/Selenium_UI_testing">
        <classes>
            <class name="com.example.pages.ChangePasswordPageTest">
                <methods>
                    <include name="testOpenPage"/>
                    <include name="testChangePassword"/>
                </methods>
            </class>
            <class name="com.example.pages.EditAccountDetailsPageTest">
                <methods>
                    <include name="testOpenPage"/>
                    <include name="testEditDetails"/>
                </methods>
            </class>
            <class name="com.example.pages.FalseLoginPageTest">
                <methods>
                    <include name="falseSignInTest"/>
                </methods>
            </class>
            <class name="com.example.pages.LoginPageTest">
                <methods>
                    <include name="signInTest"/>
                </methods>
            </class>
            <class name="com.example.pages.SignOutPageTest">
                <methods>
                    <include name="signOutTest"/>
                </methods>
            </class>
            <class name="com.example.pages.ViewAccountDetailsPageTest">
                <methods>
                    <include name="viewAccountsDetailTest"/>
                </methods>
            </class>
            <class name="com.example.pages.ViewOwnOrdersPageTest">
                <methods>
                    <include name="viewOwnOrdersDetailTest"/>
                </methods>
            </class>
            <class name="com.example.pages.actions.FavoritesActionTest">
                <methods>
                    <include name="addProductToFavorites"/>
                </methods>
            </class>
            <class name="com.example.pages.actions.FilterActionTest">
                <methods>
                    <include name="testClass008"/>
                    <include name="testClass009"/>
                    <include name="testClass010"/>
                    <include name="testClass011"/>
                </methods>
            </class>
            <class name="com.example.pages.actions.NavbarActionTest">
                <methods>
                    <include name="redirectToEachDropdownCategoriesWomen"/>
                </methods>
            </class>
            <class name="com.example.pages.actions.SearchActionTest">
                <methods>
                    <include name="searchForNikeShoes"/>
                    <include name="searchForInvalidProductName"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
